CompileFlags:
  Add: [-I/home/taha/Projects/mine/ember/vendor,-I/home/taha/Projects/mine/ember/vendor/glad/include,-I/home/taha/Projects/mine/ember/vendor/stb,-I/home/taha/Projects/mine/ember/vendor/pmu/include, -I/home/taha/Projects/mine/ember/src,-std=c99,-Wall,-x,c]
